html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", sans-serif;
  background: radial-gradient(circle, #884552, #f28444);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  font-weight: normal;
  color: #8c1f33;
}

h2 {
  font-size: 1rem;
  color: #8c1f33;
  margin: 0;
}
a {
  color: #da0090;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*HEADER -- CABECERA*/

#the-header header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#the-header .leftheader {
  flex-basis: 40%;
  text-align: right;
}
#the-header .rightheader {
  flex-basis: 60%;
  text-align: left;
  margin-top: 3.75rem;
  padding-left: 0.5rem;
}
#the-header .rightheader h1 {
  margin: 0;
  color: #590817;
  font-size: 2.5em;
  font-weight: 900;
}
#the-header .rightheader p {
  margin-top: 0.5rem;
}

#the-header .second-header {
  flex-basis: 100%;
  text-align: center;
}
#the-header .second-header h1 {
  margin: 0rem;
  padding: 0rem;
  font-size: 2em;
  font-weight: 1000;
}
#the-header .second-header h1 a {
  color: #590817;
  list-style-type: none;
  text-decoration: none;
}

/*BARRA NAVEGACION*/
#the-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0.5rem auto 2rem auto;
  width: 80%;
  overflow: hidden;
  border-top: 3px solid #590817;
  border-bottom: 3px solid #590817;
  background-color: #f2c1ae;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#the-nav li a {
  font-size: 1rem;
  font-weight: 600;
  min-width: 10rem;
  text-align: center;
  display: inline-block;
  color: #8c1f33;
  padding: 1rem 1rem;
  text-decoration: none;
}
#the-nav li a:hover {
  background-color: #8c1f33;
  color: #84de37;
}
#the-nav li.dropdown {
  display: inline-block;
}
#the-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #590817;
  border-bottom: 5px solid #590817;
  border-radius: 0.1rem;
  z-index: 3;
}
#the-nav .dropdown-content a {
  color: #8c1f33;
  font-weight: 500;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
#the-nav .dropdown-content a:hover {
  background-color: #8c1f33;
  color: #84de37;
  border-radius: 0.3rem;
}
#the-nav .dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0.55rem;
}

/*ARTICULOS*/
#the-articles {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column wrap;
}
#the-articles article {
  margin: 1rem 2rem 0.5rem 2rem;
  display: flex;
  background-color: white;
  border-radius: 1rem;
}
#the-articles article img {
  float: left;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 10rem;
}
#the-articles article div {
  flex-basis: 80%;
  margin: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1rem;
  background-color: #f2c1ae;
}
#the-articles .posted {
  font-size: 0.8rem;
  color: #89a611;
}

/*FOOTER -- PIE DE PAGINA*/
#the-footer footer {
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  font-size: 0.8rem;
  border-top: 2px solid #590817;
}
#the-footer footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#the-footer footer li {
  display: inline-block;
}
